<footer>
  <div>
    <div class="">
      <h5>Subscribe</h5>
      <div>
        <input type="text" />
      </div>
      <span>
        Subscribe to get important updates about RCE over to your Email.
      </span>
    </div>

    <div>
      <div>
        <h6>Sitemap</h6>
        <ul>
          <li>Home</li>
          <li>Services</li>
          <li>Portfolio</li>
        </ul>
      </div>
      <div>
        <h6>Privacy Policy</h6>
        <ul>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Cookie Policy</li>
        </ul>
      </div>
      <div>
        <h6>Contact</h6>
        <ul>
          <li>no.</li>
          <li>no.</li>
          <li>info@email.com</li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div>
        
      </div>
    </div>
    <p>Copyright RCE Consultants. All Rights Reserved.</p>
  </div>
</footer>
