---
import { Image } from "astro:assets";
import { Button } from "./ui/button";
---

<nav class="h-20 bg-black opacity-75">
  <div class="h-full flex justify-between px-5 items-center">
    <div>
      <Image
        height={54}
        width={140}
        src="/images/rceLogoLight.svg"
        alt="Rce Logo Light"
      />
    </div>
    <div class="md:hidden">
      <Image
        class={"cursor-pointer"}
        height={21}
        width={30}
        src="/images/hamburgerIconLight.svg"
        alt="Hamburger Icon Light"
      />
    </div>
    <ul
      class="hidden md:flex gap-x-5 uppercase font-medium items-center lg:gap-x-6"
    >
      <li class="text-white">Portfolio</li>
      <li class="text-white">Services</li>
      <li>
        <Button variant={"outline"}>Call Now some icon </Button>
      </li>
    </ul>
  </div>
</nav>
